{% extends "base.html" %}

{% block content %}
<div class="container bg-light rounded section-fade">
        <div class="row my-4 p-4 rounded-3 border shadow-sm">
            <form action="{% url 'demander_location' propriete.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.nb_etage }}" id="nb_etage" name="nb_etage" class="form-control" disabled><label for="nb_etage">Nombre d'etage</label></div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.designation }}" id="designation" name="designation" class="form-control" disabled><label for="designation">Designation</label></div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.adresse }}" id="adresse" name="adresse" class="form-control" disabled><label for="adresse">Adresse</label></div>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="form-floating"><input type="text" value="{{ propriete.ville }}" id="ville" name="ville" class="form-control" disabled><label for="ville">Ville</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.code_postal }}" id="code_postal" name="code_postal" class="form-control" disabled><label for="code_postal">Code Postal</label></div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.description }}" id="description" name="description" class="form-control" disabled><label for="description">Description</label></div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.nb_chambre }}" id="nb_chambre" name="nb_chambre" class="form-control" disabled><label for="nb_chambre">Nombre Chambre</label></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="text" value="{{ propriete.surface }} m² — Loyer {{ propriete.loyer_total }} F/mois" class="form-control" disabled><label>Surface / Loyer</label></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                        <div class="form-floating"><input type="date" id="date_fin" name="date_fin" class="form-control" required><label for="date_fin">Date de fin de location</label></div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <label for="message_demande" class="form-label">Message au propriétaire (optionnel)</label>
                        <textarea name="message_demande" id="message_demande" class="form-control" rows="3" placeholder="Présentez-vous ou précisez votre demande..."></textarea>
                    </div>
                </div>
                <div class="row d-flex justify-content-around my-4">
                    <div class="row col-5">
                        <button class="btn btn-immobilier" type="submit">Soumettre</button>
                    </div>
                    <div class="row col-5">
                        <a href="{% url 'liste_locations' %}" class="btn btn-gold">Mes locations</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}