{% extends "base.html" %}

{% block content %}
<div class="container shadow bg-light my-3">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <div class="col-6">
                <h1 class="text-center">Gérer les documents</h1>
                <ul class="list-group">
                    {% for document in documents %}
                        <li class="list-group-item list-group-item-action">{{ document.titre }} - {{ document.fichier }}</li>
                    {% empty %}
                        <li class="list-group-item list-group-item-action">Aucun document disponible.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6">
                <div class="card">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col my-3">
                            <div class="form-floating"><input type="text" name="titre" class="form-control"><label for="titre">Titre</label></div>
                        </div>
                        <div class="col my-3">
                            <div class="form-floating"><input type="file" name="fichier" class="form-control"><label for="fichier">Fichier</label></div>
                        </div>
                        <button class="btn btn-success" type="submit">Télécharger</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}